<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
	      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Cadastro de usuário</title>
</head>
<body>
	<form method="post" action="/user/register">
		<div>
			<label>Usuário</label>
			<input name="name"/>
		</div>

		<div>
			<label>Senha</label>
			<input name="password" type="password"/>
		</div>

		<div>
			<label>Email</label>
			<input name="email" type="email"/>
		</div>

		<button type="submit" formmethod="post">Cadastrar</button>
	</form>
</body>
</html>
